BasedOnStyle: LLVM
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
AccessModifierOffset: '-4'
BreakBeforeBraces: Allman
ColumnLimit: '120'
ConstructorInitializerIndentWidth: '4'
ContinuationIndentWidth: '4'
IndentWidth: '4'
MaxEmptyLinesToKeep: 3
# AlignOperands: Align
# AllowShortFunctionsOnASingleLine: Inline
# BreakConstructorInitializers: AfterColon
# Language: Cpp
# NamespaceIndentation: All
# PenaltyBreakAssignment: 21
# PenaltyBreakBeforeFirstCallParameter: '0'
# PenaltyBreakComment: '2000'
# PenaltyBreakFirstLessLess: '1000'
# PenaltyBreakString: '3000'
# PenaltyExcessCharacter: '100000'
# PenaltyReturnTypeOnItsOwnLine: '10000'
# PointerAlignment: Right
# SpaceBeforeParens: ControlStatements
# Standard: Cpp11
# UseTab: Never